.borderBottomPrimary {
    border-bottom: 10px solid #f0eeee;
}
.borderBottomSecondary {
    border-bottom: 1px solid #d3d3d3;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.27), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.borderBottomNone {
    border-bottom: none;
}
.btnClick {
    border-bottom: 10px solid #34A760 !important;
    font-family: Helvetica,Arial,sans-serif;
}
.float_left{
    float: left;
}