.dashboard_width{
    width: 1200px;
}
.menu {
    padding: 10px;
    /* border: 1px solid #979797; */
   }
.menu:hover {
    background: linear-gradient(45deg, #00a2ff 0%, #5c20ef 100%) !important;
    color: #f8f9fa;
  }