//paddings
.p-0 {
  padding: 0px;
}
.p-10 {
  padding: 10px;
}

.p-20 {
  padding:20px;
}

.p-25 {
  padding: 25px;
}

.p-23{
  padding: 23px;
}

.pl-14 {
  padding-left: 14px !important;
}
.pl-0 {
  padding-left: 0px !important;
}

.pl-6 {
  padding-left: 6px !important;
}
.pl-30 {
  padding-left: 30px;
}
.pl-37 {
  padding-left: 37px;
}

.p-15 {
  padding: 15px;
}

.pt-5 {
  padding-top: 5px;
}

.pt-6 {
  padding-top: 6px;
}
.pt-10 {
  padding-top: 10px;
}

.pt-14 {
  padding-top: 14px;
}

.pt-15 {
  padding-top: 15px;
}

.pt-20 {
  padding-top: 20px;
}

.pt-30 {
  padding-top: 30px;
}

.pt-50 {
  padding-top: 50px;
}

.pt-60 {
  padding-top: 60px;
}

.pt-70 {
  padding-top: 70px;
}

.pt-100 {
  padding-top: 100px;
}

.pt-120 {
  padding-top: 120px;
}


.pb-10 {
  padding-bottom: 10px;
}

.pb-15 {
  padding-bottom: 15px;
}

.pb-20 {
  padding-bottom: 20px;
}

.pb-40 {
  padding-bottom: 40px;
}

.pb-80 {
  padding-bottom: 80px;
}

.pb-100 {
  padding-bottom:45px;
}

.pr-10 {
  padding-right: 10px;
}

.pr-15 {
  padding-right: 15px;
}

.pr20 {
  padding-right: 20%;
}

.pr-20 {
  padding-right: 20px;
}

.pr-30 {
  padding-right:30px;
}

.pl-10 {
  padding-left: 10px;
}

.pl-15 {
  padding-left: 15px;
}

.pl-20 {
  padding-left: 20px;
}

.pl-45 {
  padding-left: 45px;
}

.pl20 {
  padding-left: 20%;
}
//margins

.m-10 {
  margin: 10px;
}
.mt-6 {
  margin-top: 6px;
}
.mt-7 {
  margin-top: 7px;
}

.mt-10 {
  margin-top: 10px;
}

.mt-15 {
  margin-top: 20px;
}

.mt-20 {
  margin-top: 20px;
}

.mt-30 {
  margin-top: 30px;
}

.mt-32 {
  margin-top: 32px;
}

.mt-40 {
  margin-top: 40px;
}

.mt-50 {
  margin-top: 50px;
}
.mt2 {
  margin-top: 2%;
}

.full-height {
  height: 70vh;
}

.full-height-inside {
  height: calc(100vh - 80px);
}

.mb-10 {
  margin-bottom: 10px;
}
.ml-22 {
  margin-left: 22%;
}


.mb-1 {
  margin-bottom: 1px !important;
}

.mb-15 {
  margin-bottom: 15px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mb-30 {
  margin-bottom: 30px;
}

.mb-40 {
  margin-bottom: 40px;
}

.mr-10 {
  margin-right: 10px;
}

.mr-7per {
  margin-right: 7%;
}
.mr-15 {
  margin-right: 15px;
}

.mr-20 {
  margin-right: 20px;
}

.mr-30 {
  margin-right: 30px;
}

.mr-120 {
  margin-right: 120px;
}
.mr-100 {
  margin-right: 100px;
}
.ml-10 {
  margin-left: 10px;
}
.ml-18 {
  margin-left: 18%;
}
.ml-15 {
  margin-left: 15px;
}

.ml-20 {
  margin-left: 20px;
}

.ml-30 {
  margin-left: 30px;
}

.ml-35 {
  margin-left: 35px;
}

.ml-50 {
  margin-left: 50px;
}
.ml-60 {
  margin-left: 60px;
}
//line height

.lh_1 {
  line-height: 1;
}

.lh_2 {
  line-height: 2;
}

.lh_10 {
  line-height: 10;
}

.lh_35 {
  line-height: 35px;
}

.lh_40 {
  line-height: 40px;
}

// width

.w-12 {
  width: 12px;
}

.w-15 {
  width: 15px;
}

.w-20 {
  width: 20px;
}

.w-px-25 {
  width: 25px;
}

.w-120 {
  width: 120px;
}

.w-175 {
  width: 175px;
}

.w-140 {
  width: 140px;
}

.w-200 {
  width: 200px;
}

.w-250 {
  width: 250px;
}

.w-300 {
  width: 300px;
}
.w-400 {
  width: 400px;
}

.w-700 {
  width: 700px;
}

.w-1000 {
  width: 1000px !important;
}

.w-100per {
  width: 100%;
}

.w-100up {
  width: 100% !important;
}

.w-75per {
  width: 75% !important;
}

.w-50per {
  width: 50%;
}
.l-17 {
  left: 17%
}
.l-25 {
  left: 25%
}

// height

.h-15 {
  height: 15px;
}
.h-16 {
  height: 16px;
}
.h-17 {
  height: 17px;
}

.h-20 {
  height: 20px;
}

.h-30 {
  height: 30px;
}

.h-45 {
  height: 45px;
}

.h-60 {
  height: 60px;
}

.h-70 {
  height: 70px;
}

.h-200 {
  height: 200px;
}

.h-180 {
  height: 180px;
}

.h-150 {
  height: 150px;
}

.h-400 {
  height: 400px;
}

.h-430 {
  height: 430px;
}

.h-483 {
  height: 483px
}

.h-494 {
  height: 494px;
}

.h-485 {
  height: 485px;
}

.h-600 {
  height: 600px;
}

.h-80per {
  height: 80%;
}
// border - redius
.br-0 {
  border-radius: 0;
}

.bottom-0 {
  bottom: 0px !important;
}

.br-30 {
  border-radius: 30px;
}

.mineHeight0 {
  min-height: 0 !important;
}

.minHeight100 {
  min-height: 100vh;
}

.minHeight59 {
  min-height: 59px;
}

.dashboard-page-bg {
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  @media screen and (min-width: 576px){
    // background-image: url('../assets/images/background_small.jpg');
    background-image: url('../assets/images/vulhunt-background.jpg');
  }
  @media screen and (min-width: 768px){
    // background-image: url('../assets/images/background_medium.jpg');
    background-image: url('../assets/images/vulhunt-background.jpg');

  }
  @media screen and (min-width: 992px){
    // background-image: url('../assets/images/background_large.jpg');
    background-image: url('../assets/images/vulhunt-background.jpg');
  }
}

// float

.pull-right {
  float: right;
}

// text

.text-underline {
  text-decoration: underline;
}

.text-break-all {
  overflow-wrap: break-word;
}

// utills

.btn-as-text {
  background: none;
  border: none;
  padding: 0;
  outline: none !important;
  box-shadow: none !important;
}

.btn-border-outline {
  border: 1px solid !important;
}

.border-none {
  border: none;
}

.menu-border-right {
  border-right: 8px solid $color-primary;
}
.cursor-pointer {
  cursor: pointer;
}
.download_underline:hover{
  text-decoration: underline;
  text-decoration-color: green;
  color: green;
}

.f10{
  font-size: 10px;
}

.container-border {
  border:1px solid #979797 !important;
}

.menu-border {
  border-top:1px solid #979797;
}

.container-radius {
  border-radius: 5px;
}

.container-radius-org {
  border-radius: 5px;
  height: 200px;
}

.container-width {
  width: 850px;
}

.campaign-container-width {
  width: 950px;
  padding: 0 15px;
}

.container-height {
  min-height: 730px;
}

.container-background {
  background: #FFFFFF;
}

.onboard-menu-height {
  min-height: 674px;
}

.onboard-right-border {
  border-right: 1px solid #979797;
  min-height: 673px;
}

.fullheight {
  height: 100vh;
}

.full-hieght{
  height: 100%;
}

.right-border {
  border-right: 1px solid #979797;
  min-height: 730px;
}



.carousel-control-prev-icon {
  background-image: url('../assets/images/backSlider.png');
}

.carousel-control-next-icon {
  background-image: url('../assets/images/forwardSlider.png');
}
.addImageIcon {
  height: 31px;
}

.menu-circle {
    height: 35px;
    width: 35px;
    border-radius: 50px;
    border: 1px solid;
    background-color: white;
    padding: 3px;
}

.menu-circle-border {
  border-color:  #34A760 !important;
  height: 35px;
  width: 35px;
  border-radius: 50px;
  background-color: white;
  border: 1px solid;
  padding-right: 5px;
  padding: 3px;
}

.btn-transparant{
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

.border-radius{
  border-radius: 10px;
}

.imageUpload {
  display: none;
  background-color:#2D6C7A;
  background-image: url('../assets/images/background-red.png');
}

.imageUpload input[type=file]:active + label {
  background-image: none;
  background-color:#2D6C7A;
  color:#FFFFFF;
  }

  label{
    background: white;
     }


 input[type="file"] {
    display: none;
 }

 .close {
  color: 'grey'
}

.error {
  font-size: 12px;
}

.loginImage {
  width: 200px;
  border-radius: 50%;
  height: 160px;
}

.file_delete_Icon {
  align-self: flex-start;
  position: relative;
  right: 18px;
  // top: -130px;
}

.upload_file_image{
  height: 125px;
  width: 125px;
  margin-bottom: 5px;
}

.spinnerrole{
  margin: 0px 50%;
  top: 35%;
}

.file_image{
  height: 40px !important;
  width: 125px;
  margin-bottom: 5px;
  padding: 8px 18px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
}

.container_box_shadow{
  box-shadow: 0 0 5px 0 #DDE0E5;
}

.ta-150 {
  height: 150px; 
}

  .profileCircle {
    border-radius: 50%;
    width: 196px;
    border: 1px solid #979797;
    height: 196px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .profileFont{
    font-size: 80px;
    color: #34A760;
    text-decoration: none;
  }
  .pdfIcon {
    height: 40px;
    width: 40px;
  }

  .text-pending {
    color: orange;
  }

  .profileResListCircle{
    border-radius: 50%;
    width: 51px;
    border: 1px solid $color-line-separator;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .profileResListFonts{
    color: $color-primary;
  }
  .profileResViewFont{
    font-size: 80px;
    color: $color-primary;
    text-decoration: none;
  }
  .profileResViewCircle {
    border-radius: 50%;
    width: 199px;
    border: 1px solid $color-line-separator;
    height: 200px;
    margin-left: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .researcher-right-border {
    border-right: 1px solid $color-line-separator;
    min-height: 200px;
  }
  .table-border {
    border: 1px solid $color-input-box-border !important;
  }

  .profile_border{
    height: 41px;
    width: 41px;
    border: 1px solid $color-line-separator;
    display: flex;
    border-radius: 50%;
    justify-content: center;
  }

  .outline-0{
    outline: none !important;
  }

  .break-word{
    overflow-wrap: break-word;
  }

  .profilePic {
    border-radius: 50%;
  height: 100%;
  width: 100%;
  }

  #hidden-title {
    display: none;
    font-size: 10px;
    padding: 5px;
    text-transform: uppercase;
  }

  #title:hover #hidden-title {
    display: block;
  }

  .position-fixed{
    position: fixed
  }

  .hide-visiblility {
    visibility: hidden;
  }

  .rupees {
    font-size: 17px;
  }

  .minHeight250 {
    min-height: 250px;
  }

  .navbar {
    padding-top: 0px;
  }

  .dot {
    height: 10px;
    width: 10px;
    background-color: greenyellow;
    border-radius: 50%;
    display: inline-block;
  }
  .dotred {
    height: 10px;
    width: 10px;
    background-color: red;
    border-radius: 50%;
    display: inline-block;
  }
  .statusBtn{
    background-color: grey;
    color: white;
    padding: 4px;
    border-radius: 6px;
    cursor: pointer;
    outline: none;
    border: none;
  }
  .statusBtn:hover{
    background-color: #8080808c;
    color: white;
    padding: 4px;
    border-radius: 6px;
    cursor: pointer;
  }
  .statusBtnPrivate{
    background-color: #1770d9;
    color: white;
    padding: 4px;
    border-radius: 6px;
    cursor: pointer;
    outline: none;
    border: none;
  }
  .statusBtnPrivate:hover{
    background-color: #1770d9b8;
  }
  .capital{
    text-transform: capitalize;
  }
  .graph_outline {
    border: 1px solid black;
  }
  .ellipsis {
    cursor: pointer; 
    white-space: nowrap; 
    width: 295px; 
    text-overflow: ellipsis;
  }
  .payerdash{
    min-height: 450px;
    width: 100%;
    padding: 17;
    position: relative;
  }
  .payerpage {
    position: absolute;
    bottom: 0;
    right: 23;
  }
  .rupee {
    top: 40px;
    left: 16%;
    font-size: 26px;
  }